<mat-toolbar color="primary">
  <mat-icon>all_inclusive</mat-icon> Payoff
</mat-toolbar>

<mat-list class="mat-list-multi-line">
  <ng-container *ngFor="let year of years$ | async; let first = first">
    <mat-divider *ngIf="!first"></mat-divider>
    <h3 matSubheader>{{year.year}} ({{year.purchases}} purchases)
      <button *ngIf="!isYearLoaded(year)" mat-button color="primary" (click)="loadPurchases(year.year)">Load</button>
    </h3>
    <ng-container *ngIf="isYearLoaded(year)">
      <mat-list-item *ngFor="let purchase of loadedYears[year.year] | async">
        <!--<mat-icon matListIcon>folder</mat-icon>-->
        <app-fancy-date matListAvatar [date]="purchase.date"></app-fancy-date>
        <h4 matLine>{{purchase.item}}</h4>
        <!--
        <p matLine><span class="participant-detail"><span>delbertooo</span> <span>{{13.37|currency}}</span></span></p>
        <p matLine><span class="participant-detail"><span>masuuk</span> <span>{{-6.37|currency}}</span></span></p>
        -->
        <!--<p matLine> {{purchase.date | date}}</p>-->
        <app-participants-list matLine [purchaser]="purchase.purchaser" [participants]="purchase.participants"></app-participants-list>
        <div style="display: inline-block">{{1337|currency}}</div>
      </mat-list-item>
    </ng-container>
  </ng-container>
</mat-list>

<a mat-fab routerLink="add" class="add-button">
  <mat-icon aria-label="Add a purchase">add</mat-icon>
</a>
