<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list>
      <a mat-list-item routerLink="/summary"><mat-icon class="nav-icon">show_chart</mat-icon> Statistics</a>
      <a mat-list-item routerLink="/personal-settings"><mat-icon class="nav-icon">build</mat-icon> Personal Settings</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="app-fixed-toolbar">
      <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
      </button>
      <!--<mat-icon>all_inclusive</mat-icon>-->
      Payoff
    </mat-toolbar>
    
    <div class="app-fixed-toolbar-content">
      <mat-list class="mat-list-multi-line">
        <ng-container *ngFor="let year of years$ | async; let first = first">
          <mat-divider *ngIf="!first"></mat-divider>
          <h3 matSubheader>{{year.year}} ({{year.purchases}} purchases)
            <button *ngIf="!isYearLoaded(year)" mat-button color="primary" (click)="loadPurchases(year.year)">Load</button>
          </h3>
          <ng-container *ngIf="isYearLoaded(year)">
            <mat-list-item *ngFor="let purchase of loadedYears[year.year] | async">
              <app-fancy-date matListAvatar [date]="purchase.date"></app-fancy-date>
              <h4 matLine><span class="full-text">{{purchase.item}}</span></h4>
              <app-participants-list matLine [purchaser]="purchase.purchaser" [participants]="purchase.participants"></app-participants-list>
              <span class="purchase-price">{{purchase.formattedPrice}}</span>
            </mat-list-item>
          </ng-container>
        </ng-container>
      </mat-list>
    </div>
    
    <a mat-fab routerLink="add" class="add-button">
      <mat-icon aria-label="Add a purchase">add</mat-icon>
    </a>
  </mat-sidenav-content>
</mat-sidenav-container>
