.add-button {
    position: fixed;
    bottom: 16px;
    right: 24px;
}

.nav-icon {
    padding-right: 1.25rem;
}

.app-fixed-toolbar-content {
    margin-bottom: 88px;
}

.mat-list-item:hover {
    background: rgba(0,0,0,.04);
}

.full-text {
    white-space: normal;
    text-overflow: unset;
    overflow: initial;
}

.purchase-price {
    display: inline-block;
    white-space: nowrap;
}