<mat-toolbar color="primary">
  <a routerLink="/" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </a>
  Personal settings
  <span class="toolbar-spacer"></span>
  <button mat-icon-button (click)="save()">
    <mat-icon>check</mat-icon>
  </button>

</mat-toolbar>

<div class="form-container">
  <form [formGroup]="settingsForm">
    <mat-form-field>
      <mat-select placeholder="Default purchaser" required formControlName="defaultPurchaser">
        <mat-option *ngFor="let purchaser of purchasers$ | async" [value]="purchaser">{{purchaser}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>