/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~material-design-icons/iconfont/material-icons.css";

body {
    margin: 0;
}

.mat-list.mat-list-multi-line {
    .mat-list-item {
        height: auto !important;
        padding: 16px 0;
        
        .mat-list-item-content {
            height: auto;
        }
    }
}

.toolbar-icon {
    padding: 0 14px;
}
  
.toolbar-spacer {
    flex: 1 1 auto;
}

.mat-drawer-container.app-sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.app-fixed-toolbar {
    position: fixed;
    top: 0;
    z-index: 1;
}

.app-fixed-toolbar-content {
    padding-top: 64px;
}
