/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
body {
    margin: 0;
}

.mat-list.mat-list-multi-line {
    .mat-list-item {
        height: auto !important;
        padding: 16px 0;
        
        .mat-list-item-content {
            height: auto;
        }
    }
}

.toolbar-icon {
    padding: 0 14px;
}
  
.toolbar-spacer {
    flex: 1 1 auto;
}